In [1]:
import pydeck as pdk
import pandas as pd
mapbox_key='pk.eyJ1IjoidnpoeXZvdiIsImEiOiJjazk5dmFpem4wMzBhM21zN3VmMWkwd3V3In0.SA5rXlodpUcoiQmCqqvKZw'

# Plotting lights at night

NASA has collected global light emission data for over 30 years. The data set is a deeply fascinating one and has been used for news stories on the Syrian Civil War [[1]](https://time.com/3741451/syria-lights-civil-war-satellite/), North Korea [[2]](https://www.cbsnews.com/pictures/north-korea-hermit-country-space-photos/4/), and economic growth [[3]](https://qz.com/959563/nasas-black-marble-map-shows-the-light-of-human-population-centers-at-night-throughout-2016/).

In this notebook, we'll use a deck.gl [HeatmapLayer](https://deck.gl/#/documentation/deckgl-api-reference/layers/heatmap-layer) to visualize some of the changes at different points in time.

## Getting the data

The data for Chengdu, China, is cleaned and available below. Please note this data is meant for demonstration only.

In [2]:
LIGHTS_URL = 'https://raw.githubusercontent.com/ajduberstein/lights_at_night/master/chengdu_lights_at_night.csv'
df = pd.read_csv(LIGHTS_URL)
df.head()

   year      lng     lat  brightness
0  1993  104.575  31.808           4
1  1993  104.583  31.808           4
2  1993  104.592  31.808           4
3  1993  104.600  31.808           4
4  1993  104.675  31.808           4

### Setting the colors
pydeck does need to know the color for this data in advance of plotting it

In [3]:
df['color'] = df['brightness'].apply(lambda val: [255, val * 4,  255, 255])
df.sample(10)

        year      lng     lat  brightness                 color
173172  2013  104.700  30.133          18   [255, 72, 255, 255]
145900  2003  103.508  29.667           4   [255, 16, 255, 255]
257884  2011  104.633  29.542          13   [255, 52, 255, 255]
71898   2009  104.283  30.550          26  [255, 104, 255, 255]
134460  2003  104.167  30.475           5   [255, 20, 255, 255]
107637  2001  102.900  30.200           4   [255, 16, 255, 255]
277794  2005  103.750  30.600           6   [255, 24, 255, 255]
1605    1993  104.317  31.383           4   [255, 16, 255, 255]
229355  2011  104.325  31.008          25  [255, 100, 255, 255]
2183    1993  104.058  31.275           4   [255, 16, 255, 255]

## Plotting and interacting

We can plot this data set of light brightness by year, configuring a slider to filter the data as below:

In [5]:
plottable = df[df['year'] == 1993].to_dict(orient='records')

view_state = pdk.ViewState(
    latitude=31.0,
    longitude=104.5,
    zoom=8,
    max_zoom=8,
    min_zoom=8)
scatterplot = pdk.Layer(
    'HeatmapLayer',
    data=plottable,
    get_position='[lng, lat]',
    get_weight='brightness',
    opacity=0.5,
    pickable=False,
    get_radius=800)
r = pdk.Deck(
    mapbox_key=mapbox_key,
    layers=[scatterplot],
    initial_view_state=view_state,
    views=[pdk.View(type='MapView', controller=None)])
r.to_html('05 - Interacting with other Jupyter widgets.html')

'C:\\Users\\vzhyvov\\pydeck\\05 - Interacting with other Jupyter widgets.html'

In [6]:
import ipywidgets as widgets
from IPython.display import display
slider = widgets.IntSlider(1992, min=1993, max=2013, step=2)
def on_change(v):
    results = df[df['year'] == slider.value].to_dict(orient='records')
    scatterplot.data = results
    r.update()
    
slider.observe(on_change, names='value')
display(slider)

IntSlider(value=1993, max=2013, min=1993, step=2)